<div class="giftcode__location">
    <a routerLink="/home">Trang chủ</a>
    >
    <a routerLink="/giftcode">Danh sách game</a>
    >
    <a>GameCity</a>
</div>

<div class="giftcode__title">
    <h4>Nhập Giftcode</h4>
</div>

<div class="giftcode__form">
    <form>
        <input type="text" disabled value="asda">
        <div>
            <select name="" id="" class="input-text">
                <option selected="selected" value="">-- Chọn Server --</option>
            </select>
        </div>
        <div>
            <select name="" id="" class="input-text">
                <option selected="selected" value="">-- Chọn Nhân Vật --</option>
            </select>
        </div>
        <input type="text" value="" placeholder="Vui lòng nhập giftcode">
        <button>Xác nhận</button>
    </form>
</div>