ul li,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #00b3ff;
    align-items: center;

    img {

        width: 50px;
        height: 50px;
        margin-left: 30px;

    }

    &__dropdow {
        display: flex;
        align-items: center;
        flex-direction: row;
        cursor: pointer;
        position: relative;
        z-index: 1;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }

        span {
            width: auto;
            padding: 10px;
            font-size: 20px;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
        }

        .dropdow {
            position: absolute;
            right: 0px;
            top: 110%;
            width: 80%;
            background: #e9e9e9;
            z-index: 100;
            display: none;

            li {
                color: black;
                font-weight: 600;
                font-size: 16px;
                padding: 15px 10px;
                border-bottom: solid 1px #E0E0E0;
                text-align: end;
            }

            li:hover {
                color: rgb(66, 64, 64);
                transition: color .3s ease-in-out;
                outline: none;
            }
        }
    }
}

.show {
    display: block !important;
}

@media only screen and (max-width: 1024px) {
    .header{
        &__dropdow{
            
            span{
                display: none;
            }
        }
        .dropdow{
            width: 120px;
        }
    }
}