<div class="game">
    <ng-container *ngIf="isGiftCode">
        <a routerLink="/giftcode/{{game.app_id}}">
            <!-- <img src="{{game.image_url}}" alt="" class="game__logo"> -->
            <img src="../../../../assets/images/game1.png" alt="" class="game__logo">
        </a>
    </ng-container>
    <ng-container *ngIf="!isGiftCode">
        <a routerLink="/{{game.app_id}}">
            <!-- <img src="{{game.image_url}}" alt="" class="game__logo"> -->
            <img src="../../../../assets/images/game1.png" alt="" class="game__logo">
        </a>
    </ng-container>
    <h5 class="gametitle">{{game.name}}</h5>
</div>